<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vidly</title>

    <meta name="" content="" />
    <meta name="" content="" />
    <meta name="" content="" />
    <meta name="" content="" />
    <meta name="" content="" />
    <meta name="" content="" />


    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />


</head>
<body>

    @Html.Partial("_NavBar")

    <div class="container body-content">
        <p>
            @Html.Partial("_Messages")
        </p>

        @RenderBody()
        

    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
