@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>
    Customers


</h2>

@if (!Model.Any())
{
    <p>We don't have any customer yet</p>
    <p>
        @Html.ActionLink("Create New", "Create", "Customers", new { }, new { @class = "btn btn-primary" })
    </p>
}
else
{
    <table class="display dataTable small" id="table-customers">
        <thead>
            <tr>
                <th>
                    Customer

                </th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>
                    @Html.ActionLink("Create New", "Create", "Customers")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MembershipType.Name %
                    </td>
                    <td>
                        @customer.MembershipType.DiscountRate %
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, new { @class = "" })
                        <a href="javascript:void(0)" class="js-delete" data-customer-id="@customer.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts{

        <script>

            $(document).ready(function () {

                //https://datatables.net/download/
                $('#table-customers').DataTable();

                $("#table-customers").on("click", ".js-delete", function () {
                    var button = $(this);
                    if (confirm("Are you sure?")) {
                        $.ajax({
                            url: "/api/customers/" + $(this).attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            },
                            error: function () { alert('Error'); }
                        });

                    }
                });
            });

        </script>
    }
}

